body {
  text-align: center;
  padding: 100px;
  color: maroon;
  background-color: #09c;
  background-image: url('./assets/avatar.png');
  background-position: 50% 20%;
  background-repeat: no-repeat;
}