::placeholder {
  color: gray;
}
/* style.css */
:root {
  --highlightColor: hwb(190, 35%, 20%);
}

body {
  display: grid;
  justify-content: center;
  color: var(--highlightColor);
  background-color: #09c;
  /* background-color: #09c !important; */
}
